
  <div class="">


    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title"> <h2>Nos partenaires</h2>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <div class="row">

              <div class="col-md-55">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="<%= asset_path 'lespagemaghreb' %>" alt="image" />
                    <div class="mask no-caption">
                      <div class="tools tools-bottom">
                        <a href="https://lespagesmaghreb.com" target="_blank"><i class="fa fa-link"></i></a>

                      </div>
                    </div>
                  </div>
                  <div class="caption">
                    <p><strong>Les pages maghreb</strong>
                    </p>
                    <p>Alger, ALGERIE</p>
                  </div>
                </div>
              </div>
              <div class="col-md-55">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="<%= asset_path 'sin' %>" alt="image" />
                    <div class="mask no-caption">
                      <div class="tools tools-bottom">
                        <a href="#"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="caption">
                    <p><strong>Sindibad international</strong>
                    </p>
                    <p>Alger, ALGERIE</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

