<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Mes ventes </h2>


      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Contact name</th>
          <th>Date</th>
          <th>Total price</th>


        </tr>
        </thead>

        <tbody>
        <% @sales.each do |sale| %>
          <tr>
            <td><%= sale.contact_name %></td>
            <td><%= sale.date %></td>
            <td><%= sale.total_price %></td>


          </tr>
        <% end %>
        </tbody>
      </table>


    </div>
  </div>
</div>