
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2> Modifier " <%= @product.name %> " | </h2> <%= link_to 'Show', @product, class: 'btn btn-info' %>
      | <%= link_to 'Back', products_path, class: 'btn btn-danger' %>
    </div>




<%= render 'form', product: @product %>

  </div>
</div>