
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Modifier la commande | </h2>  <%= link_to 'Mes commandes', sales_path ,class:'btn btn-warning'%>
    </div>
<%= render 'form', sale: @sale %>

<%#= link_to 'Show', @sale %>


  </div>
</div>