
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Nouvelle commande </h2>


      <div class="clearfix"></div>
    </div>

<%= render 'form', sale: @sale %>

<%#= link_to 'Back', sales_path , class: 'btn btn-danger'%>
  </div>
</div>
